
<section class="flex flex-col gap-20 mt-30 mb-40 ml-96">
    <h2 class="text-4xl font-bold">EL CARRITO ESTÁ VACÍO</h2>
    <h3 class="text-2xl">Tus Productos aparecerán acá.</h3>
    <a  href="/api/products/allProducts" class="btn">Empezar</a>
</section>
