<div class="mt-40 mb-40">
    <h2 class="text-center mx-auto text-3xl font-semibold">Bienvenido <span class="text-4xl font-semibold text-indigo-700">{{user.first_name}} {{user.last_name}}</span></h2>
</div>